<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5p %c{1}:%L - %msg\n" />
        </Console>

        <RollingFile name="RollingFile" filename="logs/fuzzy-row-matcher.log"
                     filepattern="logs/%d{yyyyMMdd}-fuzzy-row-matcher.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5p %c{1}:%L - %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>

    </Appenders>
    <Loggers>
        <Logger name="org.bradfordmiller." level="info" />
        <Root level="info">
            <!--<AppenderRef ref="Console" /> -->
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>